<% var pagetitle = ''; %>
<% var description = 'gsapの練習'; %>
<% var path = ''; %>

<!DOCTYPE html>
<html lang="ja">
<head>
<% include ../_include/_meta.ejs %>
</head>
<body>
<% include ../_include/_header.ejs %>
<!-- /content -->
<div class="l-content">
  <div class="l-inner">
    <p>
      ここはコンテンツエリアです<br>
    </p>
  </div><!-- /inner -->
</div><!-- /content -->
<script src="/js/index.js"></script>
</body>
</html>