<% var pagetitle = ''; %>
<% var description = 'gsapの練習'; %>
<% var path = ''; %>

<!DOCTYPE html>
<html lang="ja">
<head>
<% include ../_include/_meta.ejs %>
</head>
<body>
<% include ../_include/_header.ejs %>
<!-- /content -->
<div class="l-content">
  <div class="l-inner">
    <div class="c-img-container">
      <img src="https://picsum.photos/seed/1/200/300" alt="">
      <img src="https://picsum.photos/seed/2/200/300" alt="">
      <img src="https://picsum.photos/seed/3/200/300" alt="">
    </div>
    <div class="c-boxes">
      <div class="c-boxes__box c-boxes__box1"></div>
      <div class="c-boxes__box c-boxes__box2"></div>
    </div>
  </div><!-- /inner -->
</div><!-- /content -->
<script src="/js/index.js"></script>
</body>
</html>